
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<h4>It looks like you might not be authorized to view this page. Perhaps you navigated here by mistake or tried to access it directly.</h4>

<h5>Click the button below to return to your dashboard</h5>

<a href="/Home/Index" class="btn btn-primary">Return to Dashboard</a>